# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=YOUR-SUPABASE-URL
NEXT_PUBLIC_SUPABASE_KEY=YOUR-SUPABASE-PUBLIC-KEY

NEXT_PUBLIC_SUPABASE_IMGS_URL=YOUR-SUPABASE-IMGS-BUCKET-URL

SUPABASE_JWT_SECRET=YOUR-SUPABASE-JWT-SECRET
SUPABASE_SERVICE_ROLE_KEY=YOUR-SUPABASE-SERVICE-ROLE-KEY

# YOU CAN SUPABASE VALUES FROM YOUR PROJECT DASHBOARD

# SUPABASE WORKING SCHEMA (DEFAULT: public) IN CASE OF USING ANOTHER SCHEMA OTHER THAN PUBLIC (eg: preprod)
NEXT_PUBLIC_SUPABASE_SCHEMA_ENV=PUBLIC

# NEXTAUTH
NEXTAUTH_URL=http://localhost:3000/

# YOU CAN GENERATE ONE FROM: https://generate-secret.vercel.app/
AUTH_SECRET=YOUR-AUTH-SECRECT

# NEXTAUTH GOOGLE PROVIDER
AUTH_GOOGLE_ID=YOUR-GOOGLE-AUTH-ID
AUTH_GOOGLE_SECRET=YOUR-GOOGLE-SECRET

# NEXTAUTH FACEBOOK PROVIDER
AUTH_FACEBOOK_ID=YOUR-FACEBOOK-AUTH-ID
AUTH_FACEBOOK_SECRET=YOUR-FACEBOOK-SECRET

AUTH_TRUST_HOST=http://localhost:3000

# STRIP PAYMENT
STRIPE_SECRET_KEY=YOUR-STRIPE-SECRET-KEY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=YOUR-STRIPE-PUBLISHABLE-KEY

# PRODUCTION URL: Provide this even locally for http://localhost:3000 as an example
NEXT_PUBLIC_APP_URL=YOUR-CURRENT-URL