.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all 300ms linear;
  padding-bottom: 12px;
}

.accordionControl {
  display: flex;
  gap: 12px;
  align-items: center;
}

.accordionLabel {
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 6px;
  user-select: none;
}

.toggleBtn {
  border-radius: 50%;
  padding: 13px 16px;
  background-color: #dc143c;
  color: #fff;
  border: none;
  outline: none;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.accordionContent {
  padding-left: 57px 
}

.accordionContent p {
  color: #656a70;
}