.reservationItem {
  width: 100%;
  box-shadow: 2px 2px 8px 1px #DDD;
  margin-bottom: 20px;
}

@media (min-width: 780px) {
  .reservationItem {
    display: grid;
    grid-template-columns: 180px 1fr; 
    /* height: 132px; */
  }
}

.reservationThumbnail {
  overflow: hidden;
  position: relative;
  aspect-ratio: 4/3;
  width: 100%;
  height: fit-content;
}

.reservationThumbnail img {
  width: 100%;
  aspect-ratio: 4/3;
}

.reservationInfos {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 780px) {
  .reservationInfos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}


.reservationOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px
}

.reservationOverview h2 {
  font-size: 22px;
}

.reservationOverview p {
  color: #656a70;
}

.reservationPriceContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (min-width: 780px) {
  .reservationPriceContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}



.reservationPriceContainer p {
  font-size: 17px;
  font-weight: 600;
  color: crimson;
  text-align: center;
}

@media (min-width: 780px) {
  .reservationPriceContainer p {
    text-align: right;
  }
}
