.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  backdrop-filter: blur(6px) brightness(70%);
  z-index: 99999;
}

@media (min-width: 820px) {
  .modalOverlay .hideOnLargerScreens {
    display: none;
  }
}

.modalWrapper {
  position: absolute;
  top: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 420px;
  min-height: 420px;
  /* background-color: #00000086;
  border-top: 4px solid #dc143c; */
  padding: 20px;
}

@media (min-width: 820px) {
  .modalWrapper .hideOnLargerScreens {
    display: none;
  }
}