.accountLayout {
  
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  gap: 8px;
}

@media (min-width: 780px) {
  .accountLayout {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: calc(100vh - 64px);
    gap: 32px;
  }
}

@media (min-width: 714px) {
  .accountLayout {
    grid-template-columns: 320px 1fr;
  }
}

.accountSidebar {
  /* background-color: #ddd; */
  background-color: #252525;
  padding: 20px 12px;
}

@media (min-width: 780px) {
  .accountSidebar {
    padding: 32px 20px;
    max-height: 70vh;
    position: sticky;
    top: 20px;
  }
}


.sidebarList {
  display: flex;
  gap: 16px;
}

@media (min-width: 780px) {
  .sidebarList {
    gap: 32px;
    flex-direction: column;
  }
}

.sidebarList li {
  flex-grow: 1;
}

.sidebarButton {
  border: none;
  outline: none;
  cursor: pointer;
}


.sidebarLink, .sidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 8px 16px;
  background-color: #1a1a1a;
  color: #F1F1F1;
  transition: all 150ms linear;
}

@media (min-width: 780px) {
  .sidebarLink, .sidebarButton {
    justify-content: initial;
  }
}

.sidebarLink:hover, .sidebarButton:hover {
  background-color: #dc143c;
}

@media (min-width: 780px) {
  .sidebarLink, .sidebarButton {
    gap: 12px;
    padding: 16px 32px;
    font-size: 17px;
  }
}

.sidebarLink span:last-child, .sidebarButton span:last-child {
  display: none;
}

@media (min-width: 714px) {
  .sidebarLink span:last-child, .sidebarButton span:last-child {
    display: inline;
  }
}


.content {
  height: 100%;
  padding: 24px 0px;
}

@media (min-width: 780px) {
  .content {
    padding: 32px 0px 32px 20px;
  }
}