/* error.module.css */
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

.errorCode {
  color: #333;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.errorTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.errorMessage {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.errorButton {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.errorButton:hover {
  background-color: darkred;
}
