.formSection {
  padding: 40px 20px;
  background-color: #fff;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
}

.form {
  width: 100%;
}

.loginHeading {
  font-size: 24px;
  position: relative;
  margin-bottom: 40px;
  width: fit-content;
}

.loginHeading::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: crimson;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.loginLabel {
  letter-spacing: 1px;
  color: #656a70;
}

.loginInput {
  padding: 16px 12px;
  border-radius: none;
  outline: none;
  border: 1px solid #dedede;
  font-size: 17px;
}

.formButton {
  padding: 16px 48px;
  border: none;
  outline: none;
  color: #fff;
  background-color: crimson;
  font-size: 17px;
  margin-bottom: 20px;
}

.formButton:hover {
  background-color: rgb(167, 10, 41);
}

/* AUTH PROVIDERS */

.authProviders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.googleButton {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
  font-size: 1.125rem; 
  border: 1px solid #dedede;
  background-color: transparent;
  padding: 1rem 2.5rem;
  font-weight: 500;
}

.googleButton:hover {
  background-color: #dedede;
}

.googleButton, .formButton {
  cursor: pointer;
  transition: all 150ms linear;
}

.facebookBtn, .googleButton {
  min-width: 304px;
}

.facebookBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #1877f2;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.125rem; 

  padding: 1rem 2.5rem;
  font-weight: 500;
}

.facebookBtn:hover {
  background-color: #165dab;
}

.facebookIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg'); /* Facebook logo */
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

/* OR DIVIDER */

.orDivider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888; /* Adjust color as needed */
  margin: 1rem 0;
  margin-bottom: 48px;
}

.orDivider::before,
.orDivider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc; /* Adjust line color as needed */
}

.orDivider::before {
  margin-right: 0.5rem;
}

.orDivider::after {
  margin-left: 0.5rem;
}
