
.roomBookingForm {
  box-shadow: 2px 2px 8px 6px #eee;
  width: 100%;
}

@media(min-width: 1000px) {
  .roomBookingForm {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.formItem {
  width: 100%;
  /* padding: 20px; */
}

.formInput {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-left: 1px solid #dedede;
}

@media(min-width: 1000px) {
  
  .formInput {
    border-left: 1px solid #dedede;
  }
}

.formIcon {
  color: rgb(168, 13, 44);
  font-size: 16px;
}

.formControl {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.formControl label {
  color: #181b20;
  font-size: 17px;
}

.formControl input, .formControl select {
  color: #656a70;
  font-size: 17px;
  width: 100%;
  padding: 4px 0px;
  border: none;
  outline: none;
  background-color: transparent;
}

.formControl input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.formButton {
  background-color: rgb(168, 13, 44);
  color: #fff;
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
  transition: all 300ms linear;
  padding: 40px;
}

.formButton:not(:disabled):hover {
  background-color: rgb(128, 12, 35);
}

.formButton:disabled {
  background-color: rgb(219, 46, 81);
  cursor: not-allowed;
}
