.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactForm input,
.contactForm textarea {
  border: none;
  font-size: 18px;
  outline: 1px solid #ddd;
  padding: 12px 16px;
  width: 100%;
  box-shadow: 1px 1px 2px 1px #e7e7e7, -1px -1px 2px 1px #e7e7e7;
  transition: all 150ms linear;
}

.contactForm input:focus,
.contactForm textarea:focus {
  box-shadow: 1px 1px 2px 1px #172554, -1px -1px 2px 1px #172554;
}

.contactForm textarea {
  resize: vertical;
}

.sendBtn {
  padding: 12px 64px;
  color: #fff;
  background-color: #242424;
  transition: all 300ms linear;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #161616;
}

.resetButton {
  position: absolute;
  top: -200px;
  left: -200px;
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
  z-index: -100;
}

.errorMessage {
  color: #ce0303;
  font-size: 14px;
  display: inline-block;
  margin-top: 8px;
  padding-left: 6px;
}
