.filterSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  gap: 12px;
}


.select {
  width: 100%;
}

@media (min-width: 590px) {
  .select {
    max-width: 320px;
  }
  
}

.input {
  padding: 8px 12px;
  border: 1px solid #cccccc;
  outline: none;
  background-color: transparent;
  border-radius: 2px;
  color-scheme: dark;
  font-size: 17px;
  color: #333333;
}


.datesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 280px;
  width: 100%;
}

@media (min-width: 590px) {
  .formControl {
    width: auto;
  }
}

.formControl label {
  font-weight: 600;
}


.searchButton {
  padding: 8px 12px;
  color: #fff;
  background-color: #dc143c;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 150ms linear;
  display: inline-block;
  width: 100%;
  font-size: 17px;
}

.searchButton:hover {
  background-color: rgb(156, 16, 44);
}

@media (min-width: 590px) {
  .searchButton {
    width: auto;
  }
}