.avatarContainer {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 150px;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdownItem {
  /* padding: 10px; */
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}


.dropdownOption {
  color: #161616;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.dropdownItem button {
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  cursor: pointer;
  transition: all 150ms linear;
}

.dropdownItem button:hover {
  color: #dc143c;
}