.overviewContainer {
  position: relative;
}

.overviewDescription, .cancelView {
  padding: 12px;
  border: 1px solid #dedede;
}


.overviewDescription h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.bookingSummary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
}

.bookingSummary h3 {
  font-size: 18px;
  padding: 6px 0px;
  font-weight: 500;
  border-bottom: 1px solid #dedede;
  margin-bottom: 4px;
}


.bookingSummary p {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}


.bookingSummary p span:first-of-type {
  color: #656a70;
}

.bookingSummary p span:last-of-type {
  color: #131313;
  font-weight: 600;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.actionsContainer button {
  border: none;
  padding: 12px 16px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  outline: none;
  text-align: center;
  color: #fff;
  transition: all 150ms linear;
  cursor: pointer;
  width: 100% !important;
  
}

.editButton, .backButton {
  background-color: #131313;
}

.deleteButton, .cancelButton, .confirmationButton {
  background-color: #dc143c;
}

.editLink {
  padding: 12px 16px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: #292929;
  text-decoration: none;
  transition: all 150ms linear;
}

.editLink, .actionsContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.editLink:hover {
  background-color: #131313;
}